<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>顧客一覧</title>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<meta charset="utf-8" />
<style>
</style>
</head>
<body>
<h3>●製造部売り上げ管理システム:顧客一覧●</h3>
<table border="1">
    <tr>
    	<th bgcolor="#bfefdf" class="col_id">ID</th>
    	<th bgcolor="#bfefdf" class="col_status">顧客名</th>
        <th bgcolor="#bfefdf" class="col_status">ステータス</th>
        <th bgcolor="#bfefdf"></th>
        <th bgcolor="#bfefdf"></th>
    </tr>
    <tr th:block th:each="User : ${users}">
    	<td th:text="${User.id}"/></td>
    	<td th:text="${User.clientname}"/></td>
        <!--<td align="center"th:text="${User.status}"/></td>-->
        <td>
		<div>
            <a th:href="@{/user3/{id}/editC(id=${User.id},mailadd=${user.mailadd})}" type="button">編集</a>
    		<a th:href="@{/user3/{id}/deleteC(id=${User.id})}" type="button">削除</a>
		</div>
        </td>
        </th:block>
    </tr>
</table>
 <div th:fragment='paginationbar'>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''" style="display:inline">
                    <span th:if='${page.firstPage}'>«</span>
                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>«</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasPreviousPage}'>‹</span>
                    <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>‹</a>
                </li>


                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
                    <span th:text='${item.number}'>1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasNextPage}'>›</span>
                    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'>›</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
                    <span th:if='${page.lastPage}'>»</span>
                    <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>»</a>
                </li>
            </ul>
        </div>
<hr>
<form action="/clientcreate" th:object="${user2}" th:method="get">
    <input type="submit" name="newclient" value="顧客登録" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="newclientname" value="顧客登録">
    <input type="hidden" name="mailadd" th:value="${user.mailadd}">
    <input type="hidden" name="name" th:value="${loginusers}">
</form>
<form action="/all2" th:object="${user}" th:method="get">
    <input type="submit" name="newclient" value="案件一覧へ" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="mailadd"  th:value="${user.mailadd}">
</form>
</body>
</html>