<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>案件登録</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>住所録管理システム：住所録登録</h1>
    <form th:action="@{/usercreate}" th:object="${user}" th:method="post">
        <table>
         <tr>
                <th class="cell_title">顧客</th>
                <th class="cell_required">:</th>
                 <td><span th:text="*{clientname}" th:field="*{clientname}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">受注日</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{day}" th:field="*{day}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">S番号</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{snumber}" th:field="*{snumber}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">件名</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{subject}" th:field="*{subject}"></span></td>
            </tr>
             <tr>
                <th class="cell_title">数量</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{quantity}" th:field="*{quantity}"></span></td>
            </tr>
             <tr>
                <th class="cell_title">納入指定日</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{deliveryday}" th:field="*{deliveryday}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">納入日</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{deliveryday2}" th:field="*{deliveryday2}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">請求日</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{billingday}" th:field="*{billingday}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">見積金額</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{money}" th:field="*{money}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">受注金額</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{money2}" th:field="*{money2}"></span></td>
            </tr>
            <tr>
                <th class="cell_title">ステータス</th>
                <th class="cell_required">:</th>
                <td><span th:text="*{status}" th:field="*{status}"></span></td>
            </tr>
        </table>
        <input type="submit"  value="登録" class="btn">
        <input type="button" onClick='history.back();' value="戻る">
        <input type="hidden"  th:field="*{id}" th:value="${user.id}">
        <input type="hidden"  th:field="*{clientname}" th:value="${clientname}">
        <input type="hidden"  th:field="*{day}" th:value="${day}">
        <input type="hidden"  th:field="*{snumber}" th:value="${snumber}">
        <input type="hidden"  th:field="*{subject}" th:value="${subject}">
        <input type="hidden"  th:field="*{quantity}" th:value="${quantity}">
        <input type="hidden"  th:field="*{deliveryday}" th:value="${deliveryday}">
        <input type="hidden"  th:field="*{deliveryday2}" th:value="${deliveryday2}">
        <input type="hidden"  th:field="*{billingday}" th:value="${billingday}">
        <input type="hidden"  th:field="*{money}" th:value="${money}">
        <input type="hidden"  th:field="*{money2}" th:value="${money2}">
        <input type="hidden"  th:field="*{status}" th:value="${status}">
    </form>
  </body>
</html>