<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>顧客名編集</title>
    <meta charset="utf-8" />
  </head>
<body>
<h1>顧客名編集</h1>
顧客名を下記に変更します。よろしいですか？
	<form th:action="@{/clientUpdate}" th:object="${user}" th:method="post">
		<table>
			<tr>
				<th class="cell_title">顧客</th>
				<th class="cell_required">:</th>
				<td><span th:text="*{clientname}" th:field="*{clientname}"></span></td>
			</tr>
		</table>
		<input type="submit"  value="編集" class="btn">
		<input type="button" onClick='history.back();' value="戻る">
		<input type="hidden"  th:field="*{id}" th:value="${user.id}">
		<input type="hidden"  th:field="*{clientname}" th:value="${clientname}">
		<input type="hidden"  th:field="*{Mailadd}" th:value="${Mailadd}">
	</form>
</body>
</html>