<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>一覧表示</title>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<meta charset="utf-8" />
<style>
table {border-collapse: collapse;}
.col_id {width: 50px;}
.col_name {width: 120px;}
.col_address {width: 230px;}
.col_tel {width: 150px;}
</style>
</head>
<body>
<h3>製造部売り上げ管理システム:案件一覧</h3>
<table>
	<tr>
		<td>ようこそ</td>
		<td><span th:text="${loginusers}"></span></td>
		<td>さん</td>
	</tr>
</table>
<form action="/add">
    <input type="submit" name="newAdd" value="新規登録" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="newAddress" value="新規登録">
</form>


<form th:action="@{/Search}" th:object="${user}" th:method="get">
	<table>
		<tr>
			<th class="cell_title">顧客</th>
			<th class="cell_required">：</th>
				<td><select id="singleSelect" name="clientname" th:field="*{clientname}">
    			<option value="none" selected="selected" class="msg">---</option>
    			<option th:each="item : ${item}" th:value="${item.clientname}" th:text="${item.clientname}" th:class="${item.id}">
				</select>
				</td>
		</tr>

		<tr>
			<th class="cell_title">ステータス</th>
			<th class="cell_required">：</th>
				<td><select id="singleSelect" name="status" th:field="*{status}">
    			<option value="none" selected="selected" class="msg">---</option>
    			<option th:each="items : ${items}" th:value="${items.status}" th:text="${items.status}" th:class="${items.id}">
				</select>
				</td>
		</tr>
	<script>
	$(function() {
		// 顧客が変更されたら発動
		$('select[name="clientname"]').change(function() {

			// 選択されている顧客のクラス名を取得
			var clientName = $('select[name="clientname"] option:selected').attr("class");
			console.log(clientName);

			// ステータスの要素数を取得
			var count = $('select[name="status"]').children().length;

			// ステータスの要素数分、for文で回す
			for (var i=0; i<count; i++) {

				var status = $('select[name="status"] option:eq(' + i + ')');

				if(status.attr("class") === clientName) {
					// 選択した顧客と同じクラス名だった場合

					status.show();
				}else {
					// 選択した顧客とクラス名が違った場合

					if(status.attr("class") === "msg") {
						// 「ステータスを選択して下さい」という要素だった場合

							status.show();  //「ステータスを選択して下さい」を表示させる
							status.prop('selected',true);  //「ステータスを選択して下さい」を強制的に選択されている状態にする
					} else {
						// 「ステータスを選択して下さい」という要素でなかった場合

						status.hide();
					}
				}
			}
		})
	})
	</script>
	</table>

	<div  style="position: relative; left: 400px; top: -25px;">
		件名：<td><input type="text" th:field="*{subject}"></td>
    	<input type="submit"name="search" value="検索"/>
    	<input type="hidden" name="mailadd" th:value="${loginmail}">
    </div>

</form>


<table border="1">
    <tr>
    	<th bgcolor="#bfefdf" class="col_id">ID</th>
        <th bgcolor="#bfefdf" class="col_clientname">顧客</th>
        <th bgcolor="#bfefdf" class="col_day">受注日</th>
        <th bgcolor="#bfefdf" class="col_snumber">S番号</th>
        <th bgcolor="#bfefdf" class="col_subject">件名</th>
        <th bgcolor="#bfefdf" class="col_quantity">数量</th>
        <th bgcolor="#bfefdf" class="col_deliveryday">納入指定日</th>
        <th bgcolor="#bfefdf" class="col_deliveryday2">納入日</th>
        <th bgcolor="#bfefdf" class="col_billingday">請求日</th>
        <th bgcolor="#bfefdf" class="col_money">見積金額</th>
        <th bgcolor="#bfefdf" class="col_money2">受注金額</th>
        <th bgcolor="#bfefdf" class="col_status">ステータス</th>
        <th bgcolor="#bfefdf"></th>
        <th bgcolor="#bfefdf"></th>
    </tr>
    <tr th:block th:each="User : ${users}">
    	<td th:text="${User.id}"/></td>
    	<td th:text="${User.clientname}"/></td>
        <td align="center" th:text="${User.day}"/></td>
        <td th:text="${User.snumber}"/></td>
        <td th:text="${User.subject}"/></td>
        <td align="center" th:text="${User.quantity}"/></td>
        <td align="center" th:text="${User.deliveryday}"/></td>
        <td align="center" th:text="${User.deliveryday2}"/></td>
        <td align="center" th:text="${User.billingday}"/></td>
        <td align="right" th:text="${User.money}"/></td>
        <td align="right" th:text="${User.money2}"/></td>
        <td align="center"th:text="${User.status}"/></td>
        <td>
		<div>
            <a th:href="@{/user/{id}/edit(id=${User.id})}" type="button">編集</a>
    		<a th:href="@{/user/{id}/delete(id=${User.id})}" type="button">削除</a>
		</div>
        </td>
        </th:block>
    </tr>
</table>
 <div th:fragment='paginationbar'>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''" style="display:inline">
                    <span th:if='${page.firstPage}'>«</span>
                    <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>«</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasPreviousPage}'>‹</span>
                    <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>‹</a>
                </li>


                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
                    <span th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
                    <span th:text='${item.number}'>1</span>
                    </a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
                    <span th:if='${not page.hasNextPage}'>›</span>
                    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'>›</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
                    <span th:if='${page.lastPage}'>»</span>
                    <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>»</a>
                </li>
            </ul>
        </div>
<hr>
<form action="/add">
    <input type="submit" name="newAdd" value="新規登録" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="newAddress" value="新規登録">
</form>
</body>
</html>