<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ログイン</title>
<link href="/css/add.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
<div class="box">
   <h1>ログインフォーム</h1>
	<form th:action="@{/login}" th:object="${user}" method="GET">
 		<table>
        <!--<div th:if="${iserror}" style="color:red;">
            <p>ログインできませんでした。やりなおしてください。</p>
        </div>-->
 			<tr>
				<th class="cell_title">名前</th>
				<th class="cell_required">：</th>
				<!--<td><input type="text" th:field="*{name}"></td>-->
			</tr>
			<tr>
				<th class="cell_title">メールアドレス</th>
				<th class="cell_required">：</th>
				<!--<td><input type="text" th:field="*{mailadd}"></td>-->
			</tr>
		</table>
			 <input type="submit"  value="ログイン">
	</form>
</div>
</body>
</html>