<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ログイン</title>
<link href="/css/add.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
   <h1>ログインフォーム</h1>
	<form th:action="@{/all}" th:object="${user}" method="get" path="logindata">
		<table>
			<h3>ログイン成功！</h3>
			<tr th:block th:each="User : ${logindata}">
				<td>ようこそ</td>
				<td align="center" th:text="${User.name}"/></td>
				<td>さん</td>
			 </tr>
			</th:block>
		</table>
		<input type="submit"  value="案件一覧へ">
		<!--<input type="hidden"  th:field="*{name}" th:value="${name}">-->
		<input type="hidden"  th:field="*{mailadd}" th:value="${mailadd}">
	</form>
</body>
</html>