<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ステータス管理画面</title>
<meta charset="utf-8" />
</head>
<body>
プルダウンで顧客を選択することで顧客別管理画面へ移ります
<form th:action="@{/StatusEdit}" th:object="${user}" th:method="get">
	<table>
		<tr><th class="cell_title">顧客名選択</th>
			<th class="cell_required">：</th>
				<td><select id="singleSelect" name="id">
    			<option value="none" selected="selected" class="msg">---</option>
    			<option th:each="item : ${item}" th:value="${item.id}" th:text="${item.clientname}">
				</select>
				</td>
		</tr>
	</table>
	<input type="submit" name="id" value="顧客別ステータス編集画面へ" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="mailadd" th:value="${user.Mailadd}">
    <input type="hidden" name="clientname" th:value="${clientname}">
    <input type="hidden" name="id" th:value="${id}">
</form>

<form action="/statusadd" th:object="${userRequest3}" th:method="get">
    <input type="submit" name="newstatus" value="ステータス新規登録画面へ" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="mailadd" th:value="${user.Mailadd}">
</form>

</body>
</html>