<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>顧客別ステータス管理画面</title>
<meta charset="utf-8" />
</head>
<body>
登録済みのステータスの中から新しく登録するステータスを選んでください
<form th:action="@{/Editstatus}" th:object="${user}" th:method="get">
	<table>
		<tr>
			<th class="cell_title">顧客名</th>
			<th class="cell_required">:</th>
			<td><span th:text="${clientname}"></span></td>
		</tr>
	</table>
	<table border="1" align="left">
		<tr>
			<th bgcolor="#bfefdf" class="col_status">顧客対応ステータス</th>
		</tr>
		<tr th:block th:each="User : ${items}">
			<td align="center"th:text="${User.status}"/></td>
		</tr>
	</table>
	<table border="1">
		<tr>
			<th bgcolor="#bfefdf" class="col_status">登録済みステータス</th>
		</tr>
		<tr th:block th:each="Users : ${item}">
			<td align="center"th:text="${Users.status}"/></td>
		</tr>
	</table>
	<table>
	<div th:if="${statuserror == 0}" style="color:red;">
  <p>重複するステータスがあります。入力しなおしてください。</p>
  </div>
		<tr>
			<th class="cell_title">新規登録ステータス</th>
			<th class="cell_required">:</th>
			<td><input type="text" name="status"></td>
		</tr>
 	</table>
	<input type="submit" name="newstatus" value="登録ステータス確認画面へ" style="WIDTH: 250px; HEIGHT: 20px" />
	<input type="hidden" name="id" th:value="${users}">
	<input type="hidden" name ="Mailadd" th:value="${Mailadd}" >
</form>
</body>
</html>