<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー管理画面</title>
<meta charset="utf-8" />
</head>
<body>
<table border="1">
    <tr>
    	<th bgcolor="#bfefdf" class="col_id">ID</th>
        <th bgcolor="#bfefdf" class="col_clientname">ユーザー名</th>
        <th bgcolor="#bfefdf" class="col_day">メールアドレス</th>
        <th bgcolor="#bfefdf"></th>
        <th bgcolor="#bfefdf"></th>
    </tr>
    <tr th:block th:each="User : ${alluser}">
    	<td th:text="${User.id}"/></td>
    	<td th:text="${User.name}"/></td>
        <td align="center" th:text="${User.mailadd}"/></td>
        <td>
		<div>
            <a th:href="@{/user/{id}/edit(id=${User.id})}" type="button">編集</a>
    		<a th:href="@{/user/{id}/delete(id=${User.id})}" type="button">削除</a>
		</div>
        </td>
    </tr>
</table>
<form action="/useradd" th:object="${user}" th:method="get">
    <input type="submit" name="newclient" value="顧客管理画面へ" style="WIDTH: 250px; HEIGHT: 20px" />
    <input type="hidden" name="newclientname" value="顧客登録">
</form>
</body>
</html>